/*
 * Chessground base css properties, for clarity.
 *
 * You can then include either desktop.css or mobile.css.
 *
 * And you need to include the css files in themes folder in order to have the
 * board and pieces displayed!
 */

.cg-board-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}

.cg-board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.cg-square {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}
.cg-square[data-coord-x]::after {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 10px;
  line-height: 10px;
  content: attr(data-coord-x);
  color: #fff;
  opacity: 0.5;
}
.cg-square[data-coord-y]::before {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 10px;
  line-height: 10px;
  content: attr(data-coord-y);
  color: #fff;
  opacity: 0.5;
}
.cg-square.last-move {
  background-color: rgba(155, 199, 0, 0.41);
}
.cg-square-target {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transform: translate3d(0,0,0);
}
.cg-piece {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 3;
  transform: translate3d(0,0,0);
}
.cg-piece.dragging {
  width: 200%;
  height: 200%;
  z-index: 9;
}
.minimal-dom .cg-piece {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}
